<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
			<add name="TMGModelContainer" connectionString="metadata=res://*/TMGModel.csdl|res://*/TMGModel.ssdl|res://*/TMGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CIPHER\SQLEXPRESS;Initial Catalog=TMG;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
		<appSettings>
			<add key="DataPath" value="C:\\Users\\Mino\\Documents\\The Master Genealogist v9\\Projects\\Sample" />
		</appSettings>
</configuration>