<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="TMGEntities" connectionString="metadata=res://*/TMGModel.csdl|res://*/TMGModel.ssdl|res://*/TMGModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Documents and Settings\Administrator.CIPHER\My Documents\Visual Studio 2010\Projects\TMGDataExtractor\TMGDataExtractor\data\tmg&quot;'" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="DataPath" value="C:\\Users\\Mino\\Documents\\The Master Genealogist v9\\Projects\\Sample" />
  </appSettings>
</configuration>